<%- include("header") -%>

<h1 style="text-align: center;color: blueviolet;">this is a about page</h1><br>
<pre style="text-align: center;">Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Similique sit exercitationem
    voluptate laborum rerum omnis voluptates! Sit
    dolorem beatae error eligendi accusamus, quaerat sunt 
    cum voluptate repellendus odit fugit magnam!</pre>

    <%- include("footer")-%>